@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
body {
  font-family: "Inter", sans-serif;
  background-image: url("img/bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

:root {
  --primary-white: #ffffff;
  --primary-off-white: #efefef;
  --primary-black: #000000;
  --primary-light-blue: #333333;
  --primary-custom-blue: #292929;
  --primary-dark-blue: #1f1f1f;
  --primary-very-dark-blue: #000000;
  --primary-gray: #d1d5db;
}

.primary-btn {
  height: 60px;
  font-size: 1.5rem;
  color: var(--primary-white);
  background-color: var(--primary-dark-blue);
}
.primary-btn:hover {
  background-color: var(--primary-white);
  color: var(--primary-dark-blue);
  border: var(--primary-custom-blue) 2px solid;
  box-shadow: 1px 10px rgba(114, 255, 255, 0.431372549);
}
.primary-btn:focus {
  color: var(--primary-white);
  background-color: var(--primary-dark-blue);
}

.error404 {
  background-image: url("http://i.annihil.us/u/prod/marvel/html_blocks_assets/ironman404/IM-rain.gif");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.error404 div {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.error404 div .sheesh1 {
  font-size: 150px;
}
.error404 div .sheesh2 {
  font-size: 20px;
  font-weight: bold;
  text-shadow: rgba(114, 255, 255, 0.431372549);
}

.login-content {
  height: 100vh;
  display: flex;
}

.login-left {
  height: 100vh;
  width: 90vh;
}
.login-left div {
  font-size: 3rem;
}
.login-left div .text-sub {
  font-size: 2rem;
  font-weight: bold;
}

.login-right {
  background-color: #ffffff;
  height: 100vh;
  width: 40vh;
  border-top-left-radius: 100%;
  border-bottom-left-radius: 100%;
  flex-grow: 1;
}
.login-right div {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.wig-logo {
  font-weight: bolder;
  color: var(--primary-custom-blue);
}
.wig-logo span {
  color: var(--primary-dark-blue);
}
.wig-logo span span {
  font-weight: 300px;
  color: var(--primary-very-dark-blue);
}

.login-section {
  margin-top: 5rem;
  border: var(--primary-custom-blue) 5px solid;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.5019607843);
}

.login-input {
  height: 60px;
  font-size: 1.5rem;
  border: var(--primary-custom-blue) 2px solid;
}
.login-input:focus {
  outline: none;
  box-shadow: 1px 10px rgba(114, 255, 255, 0.431372549);
}
.login-input:hover {
  outline: none;
  box-shadow: 1px 10px rgba(114, 255, 255, 0.431372549);
}

.login-label {
  font-weight: bold;
}

#overlayer {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background: var(--primary-off-white);
}

.preloader p {
  position: absolute;
  top: 55%;
  left: 50%;
  margin-left: -45px;
  width: 120px;
  height: 90px;
  text-align: center;
  color: var(--primary-very-dark-blue);
  font-size: 24px;
  z-index: 3;
}

.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: absolute;
  z-index: 3;
  border: 4px solid var(--primary-very-dark-blue);
  left: 50%;
  top: 50%;
  color: var(--primary-very-dark-blue);
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: var(--primary-light-blue);
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loader-inner {
  0% {
    height: 0%;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}
@-webkit-keyframes loader-inner {
  0% {
    height: 0%;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}
.signup-section {
  margin-top: 2rem;
  border: var(--primary-custom-blue) 5px solid;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.5019607843);
}

.signup-input {
  height: 40px;
  font-size: 1rem;
  border: var(--primary-custom-blue) 2px solid;
}
.signup-input:focus {
  outline: none;
  box-shadow: 1px 10px rgba(114, 255, 255, 0.431372549);
}
.signup-input:hover {
  outline: none;
  box-shadow: 1px 10px rgba(114, 255, 255, 0.431372549);
}

.signup-label {
  font-weight: bold;
}