:root {
    --primary-white: #ffffff; //Pure white
    --primary-off-white: #efefef; //Dirty white
    --primary-black: #000000;
    --primary-light-blue: #72FFFF; 
    --primary-custom-blue: #00D7FF; 
    --primary-dark-blue: #0096FF; // Buttons
    --primary-very-dark-blue: #5800FF; // Features background
    --primary-gray: #d1d5db;
  }
  
  // How to use?
  // .class {
  //   color: var(--primary-white); White text
  //   background-color: var(--primary-black); Black background
  // }