:root {
    --primary-white: #ffffff; //Pure white
    --primary-off-white: #efefef; //Dirty white
    --primary-black: #000000;
    --primary-light-blue: #333333; 
    --primary-custom-blue: #292929; 
    --primary-dark-blue: #1f1f1f; // Buttons
    --primary-very-dark-blue: #000000; // Features background
    --primary-gray: #d1d5db;
  }
  
  // How to use?
  // .class {
  //   color: var(--primary-white); White text
  //   background-color: var(--primary-black); Black background
  // }