.login-content{
    height: 100vh;
    display: flex;
}

.login-left{
    height: 100vh;
    width: 90vh;

    div{
        font-size: 3rem;

        .text-sub{
            font-size: 2rem;
            font-weight: bold;
        }
    }
}

.login-right{
    background-color: #ffffff;
    height: 100vh;
    width: 40vh;
    border-top-left-radius: 100%;
    border-bottom-left-radius: 100%;
    flex-grow: 1;
    div{
        border-radius: 50%;
        height: 100px;
        width: 100px;
    }
}
.wig-logo{
    font-weight: bolder;
    color: var(--primary-custom-blue);
    span{
        color: var(--primary-dark-blue);
        span{
            font-weight: 300px;
            color: var(--primary-very-dark-blue);
        }
    }
}
.login-section{
    margin-top: 5rem;
    border: var(--primary-custom-blue) 5px solid;
    border-radius: 20px;
    background-color: #ffffff80;
}

.login-input{
    height: 60px;
    font-size: 1.5rem;
    border: var(--primary-custom-blue) 2px solid;
    &:focus {
        outline: none;
        box-shadow: 1px 10px #72ffff6e;
      }
    
      &:hover {
        outline: none;
        box-shadow: 1px 10px #72ffff6e;
      }
}



.login-label{
    font-weight: bold;
}

