.login-container{
    border: var(--primary-custom-blue) 4px solid;
    background-color: var(--primary-white);
    border-radius: 20px;
}

.login-section{
    margin-top: 8rem;
}

.login-input{
    height: 60px;
    font-size: 1.5rem;
    border: var(--primary-custom-blue) 2px solid;
    
    &:focus {
        outline: none;
        box-shadow: 5px 10px var(--primary-light-blue);
      }
}

.login-label{
    font-size: larger;
}

*{
    outline: red;
}